
/* ===== About Section ===== */

.about-section .img-fluid{
	border-radius: 50%; 
	padding-bottom: 5%;
	margin-top: -5%;
}

/* ===== Projects Section ===== */

.col-xl-8 .img-fluid{
	border-radius: 5px;
}

/* ===== Projects corners ===== */

#f-row img{
	border-top-left-radius: 5px;
}
#f-row .bg-black{
	border-top-right-radius: 5px;
}
#l-row img{
	border-bottom-right-radius: 5px;
}
#l-row .bg-black{
	border-bottom-left-radius: 5px;
}


/* ===== Footer ===== */

.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
footer .social a {
  text-align: center;
  height: 3.5rem;
  width: 3.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 4rem;
  color: rgba(255, 255, 255, 1);
  margin: 0.5%
}
footer .social a:hover {
  color: rgba(255, 255, 255, 0.1);
}
footer .social a:active {
  color: #fff;
}
footer i{
	margin: 0.5%;
}